<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head> 
<%= render 'layouts/monologue/application/head' %>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
 <nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://rationpaani.in/"><strong>Rationpaani</strong></a>
    </div>
    <ul class= "nav navbar-nav navbar-right">
      <li><%= link_to admin_login_path do %><i class="glyphicon glyphicon-user">Sign In</i><% end %></li>
    </ul>
  </div>
</nav>

  <div class="container">
    <header class="main-header sixteen columns clearfix">
      <%= rss_icon %>
      <h1><a href="<%= root_path %>"><%=Monologue::Config.site_name%></a></h1>
      <h2><%=Monologue::Config.site_subtitle%></h2>
      <%= render partial: "layouts/monologue/application/social_icons" %>
    </header>

    <div class="content twelve columns">
      <% flash.each do |name, msg| %>
        <div class="flash-notice">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>

      <%= render 'layouts/monologue/application/sidebar' %>
  </div>
  <% if content_for?(:footer) %>
    <footer>
      <%= yield :footer %>
    </footer>
  <% end %>
  <%= render 'layouts/monologue/application/disqus' %>
  <%= render 'layouts/monologue/application/gauge_analytics' %>

</body>
</html>
